<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="g05.info2051.ulg.timetable_t2">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="22" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="g05.info2051.ulg.timetable_t2.Other.Menu"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="g05.info2051.ulg.timetable_t2.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name = "g05.info2051.ulg.timetable_t2.MenuSelect.NewCourse"
            android:label = "ADD NEW COURSE"
            android:parentActivityName= ".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="g05.info2051.ulg.timetable_t2.MainActivity" />
        </activity>

        <activity
            android:name = "g05.info2051.ulg.timetable_t2.MenuSelect.CalendarTest"
            android:label = "ADD NEW EVENT IN CALENDER">
        </activity>
        <activity
            android:name = "g05.info2051.ulg.timetable_t2.MenuSelect.SQLprojtest"
            android:label = "ADD NEW EXAM OR PROJECT">
        </activity>
    </application>

</manifest>
